/*-------------------------------------------------------
Login Page CSS
-------------------------------------------------------*/


.login-modal {
    display: block;
    border-radius: 30px;
    position: relative;
    padding: 4rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.login-modal .login-body {
    padding: 30px;
}

.btn-login {
    font-weight: 700;
    font-size: 18px;
    background-color: transparent;
    color: #000;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.login-container {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0px;
}

.Login-leftside {
    /* background-image: url("../../../../assets/img/Login-leftside-image-white-1.jpg"); */
    background-color:#ffecec ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.Login-leftside .company-logo {
    position: absolute;
    top: 40%;
    left: 23%;
    max-width: 60%;
    padding: 15px;
    text-align: center;
}

.showicon {
    position: absolute !important;
    top: 48px !important;
    right: 15px !important;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .Login-leftside {
        display: none;
    }
    .mobile-login-modal {
        background-image: url("../../../../assets/img/mobile-Login-leftside-image-white.jpg");       
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh; 
    }
    .login-modal {
        padding: 0px;
    }
}