<header class="header-sticky">
  <div class="top-header">
      <div class="container-fluid">
          <div class="row align-items-center justify-content-between">
              <div class="col-4">
                  <a href="tel:303-284-5490"><i class="bi bi-telephone-fill me-2"></i><span class="mobile-hide">
                          303-284-5490</span></a>
              </div>
              <div class="col-4 text-center">
                  <a href="mailto:globalwindowsandchair@gmail.com"><i class="bi bi-envelope-fill me-2"></i> <span
                          class="mobile-hide">globalwindowsandchair@gmail.com</span></a>
              </div>
              <div class="col-4 text-end">
                  <a href="javascript:;"><i class="bi bi-geo-alt-fill me-2"></i><span class="mobile-hide"> 3838 Logan Lane
                          Denver, CO 80202</span></a>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <nav class="main-menu d-flex navbar navbar-expand-lg">
          <div class="container-fluid">
              <div class="main-logo d-lg-none">
                  <a href="index.html">
                      <img src="assets/images/logo-blue.png" alt="logo" class="img-fluid">
                  </a>
              </div>

              <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
              </button>


              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                  aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-header mt-3">
                      <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas"
                          aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body align-items-center justify-content-between">
                      <div class="main-logo mobile-hide">
                          <a href="index.html">
                              <img src="assets/images/logo-blue.png" alt="logo" class="img-fluid">
                          </a>
                      </div>
                      <div class="input-group search-bar-top w-35 mobile-hide">
                          <div>
                              <select class="form-select">
                                  <option>All Category</option>
                                  <option>Entrance Doors</option>
                                  <option>Windows</option>
                                  <option>Sliding Doors</option>
                              </select>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                              aria-describedby="basic-addon1">
                      </div>

                      <ul class="navbar-nav menu-list list-unstyled align-items-lg-center d-flex gap-md-3 mb-0">
                          <li class="nav-item">
                              <a href="index.html" class="nav-link active">Home</a>
                          </li>
                          <li class="nav-item">
                              <a href="aboutus.html" class="nav-link">About</a>
                          </li>

                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle align-items-center" role="button" id="pages"
                                  data-bs-toggle="dropdown" aria-expanded="false">Door</a>
                              <ul class="dropdown-menu" aria-labelledby="pages">
                                  <li><a href="product-detail.html" class="dropdown-item">Dropdown linkpage one</a></li>
                                  <li><a href="product-detail.html" class="dropdown-item">Dropdown linkpage two</a></li>
                                  <li><a href="product-detail.html" class="dropdown-item">Dropdown linkpage three</a></li>
                                  <li><a href="product-detail.html" class="dropdown-item">Dropdown linkpage four</a></li>
                                  <li><a href="product-detail.html" class="dropdown-item">Dropdown linkpage five</a></li>
                              </ul>
                          </li>

                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle align-items-center" role="button" id="courses"
                                  data-bs-toggle="dropdown" aria-expanded="false">Windows</a>
                              <ul class="dropdown-menu" aria-labelledby="pages">
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage one</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage two</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage three</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage four</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage five</a></li>
                              </ul>
                          </li>

                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle align-items-center" role="button" id="events"
                                  data-bs-toggle="dropdown" aria-expanded="false">Other Products</a>
                              <ul class="dropdown-menu" aria-labelledby="pages">
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage one</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage two</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage three</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage four</a></li>
                                  <li><a href="about.html" class="dropdown-item">Dropdown linkpage five</a></li>
                              </ul>
                          </li>

                          <li class="nav-item">
                              <a href="contact.html" class="nav-link mx-2">Contact</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
  </div>
</header>