<header class="header-sticky">
    <div class="top-header">
        <div class="d-flex justify-content-between container-fluid ps-lg-3">
            <div class="align-items-center justify-content-between" *ngIf="TokenData?.role !== 'CIR'">
                <img src="../../../../assets/img/Saivenlogo.png" width="200" />
            </div>
            <div class="d-flex align-items-center gap-4 pe-4" *ngIf="loginUser.role == 'ACR_ADMIN'">
                <a routerLink="/acr/acr-create-job" class="text-decoration-none text-white fw-medium">Create Job</a>
                <a routerLink="/acr/acr-create-candidate" class="text-decoration-none text-white fw-medium">Create
                    Candidate</a>
                <a routerLink="/acr/acr-create-contract" class="text-decoration-none text-white fw-medium">Create
                    Contract</a>
                <button class="btn btn-sm btn-danger" (click)="logoutAcrAdmin()">Logout</button>
            </div>
            <div class="d-flex align-items-center gap-4 pe-4" *ngIf="loginUser.role == 'DATA_BASE_USER'">
              <button class="btn btn-sm btn-danger" (click)="logoutDatabaseUser()">Logout</button>
          </div>
        </div>
    </div>
</header>
