<section>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered caption-top" style="width: 100%;">
                <caption>
                    To fill by supplier (Refer Key - Notes sheet for information)
                </caption>
                <thead>
                    <tr>
                        <th>Roles in Demand</th>
                        <th>Role description</th>
                        <th>Certifications/Qualifications</th>
                        <th>Value A (DDL)</th>
                        <th>Value B (DDL)</th>
                        <th>Value C</th>
                        <th>Value D</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Functional Test Analyst</td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>System Integration Test Analys</td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Performance Test Analyst</td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>End to End Test Manager/Programme Test Manager/Test Delivery Manager</td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Programme Test Manager </td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Accessibility Tester</td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Data Migration Tester </td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>UAT Test Analyst </td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Functional Test Lead </td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>

                    <tr>
                        <td>UAT Test Lead</td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Performance Test Lead </td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Technical Test Analyst </td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Defect Manager </td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                    <tr>
                        <td>Test Automation Engineer</td>
                        <td>“No specifications by client”</td>
                        <td>"ITSQB Foundation Certification JIRA
                            Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>To fill by agency</td>
                        <td>Supplier to attach 2 CVs as minimum </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>