<section class="section-accordian-card">
  <div class="container">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Client 1 - Location: Manchester
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <!-- <div class="form-check">
              <label class="form-check-label" for="flexCheckDefault">
                <p class="mb-0">Location: Manchester</p>
              </label>
            </div> -->
            <!-- Table insertion starts here -->
            <div class="table-responsive">
              <table class="table table-bordered mt-3">
                <thead>
                  <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Role</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox1"></td>
                    <td><label class="form-check-label" for="checkbox1">Functional Test Analyst</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox2"></td>
                    <td><label class="form-check-label" for="checkbox2">System Integration Test Analyst</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox3"></td>
                    <td><label class="form-check-label" for="checkbox3">Performance Test Analyst</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox4"></td>
                    <td><label class="form-check-label" for="checkbox4">End to End Test Manager/Programme Test
                        Manager/Test Delivery Manager</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox5"></td>
                    <td><label class="form-check-label" for="checkbox5">Programme Test Manager</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox6"></td>
                    <td><label class="form-check-label" for="checkbox6">Accessibility Tester</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox7"></td>
                    <td><label class="form-check-label" for="checkbox7">Data Migration Tester</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox8"></td>
                    <td><label class="form-check-label" for="checkbox8">UAT Test Analyst</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox9"></td>
                    <td><label class="form-check-label" for="checkbox9">Functional Test Lead</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox10"></td>
                    <td><label class="form-check-label" for="checkbox10">UAT Test Lead</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox11"></td>
                    <td><label class="form-check-label" for="checkbox11">Performance Test Lead</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox12"></td>
                    <td><label class="form-check-label" for="checkbox12">Technical Test Analyst</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox13"></td>
                    <td><label class="form-check-label" for="checkbox13">Defect Manager</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox14"></td>
                    <td><label class="form-check-label" for="checkbox14">Test Automation Engineer</label></td>
                    <td>Specifications not available on this day</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Table insertion ends here -->
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Client 2 - Location: Northern Ireland
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <!-- Table with Checkboxes starts here -->
            <div class="table-responsive">
              <table class="table table-bordered mt-3">
                <thead>
                  <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Role</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox1"></td>
                    <td><label class="form-check-label" for="checkbox1">QA / Test Architect</label></td>
                    <td>This is a senior role who provides guidance and strategic direction for the Testing CoE in
                      relation to non-functional and automated testing, providing the following activities:
                      <ul>
                        <li>Develop and implement overall testing plans, test scenarios/cases, and test scripts using
                          industry-standard testing tools.</li>
                        <li>Collaborate with software development teams, product owners, and business stakeholders to
                          define testing requirements and test cases.</li>
                        <li>Design and develop automated testing frameworks, tools, and scripts.</li>
                        <li>Analyse test results and provide recommendations on the best approach for improvements.</li>
                        <li>Conduct code reviews and maintain test automation code quality.</li>
                        <li>Up-to-date with new testing technologies, frameworks, and best practices.</li>
                        <li>Preparation and/or execution of tests in the absence of available non-functional tester(s).
                        </li>
                        <li>Represent NFT in strategic reviews.</li>
                        <li>Research, propose, and implement NFT and Automation process improvements and innovations.
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox2"></td>
                    <td><label class="form-check-label" for="checkbox2">QA / Test Manager</label></td>
                    <td>
                      <ul>
                        <li>Identify, document, and communicate any defects, risks, and issues identified during the
                          testing process and escalate as required.</li>
                        <li>Develop test plans for IT projects using documented business requirements.</li>
                        <li>Ensure that testing risks are managed and issues associated with the testing process are
                          escalated if necessary.</li>
                        <li>Co-operate with users and PMO to agree on the testing strategy to be employed for
                          development projects/release.</li>
                        <li>Take responsibility for all phases of testing and the management of the testing activities
                          within a development project/release.</li>
                        <li>Understand and analyse Business, Functional, Technical, and UI requirements of
                          projects/releases.</li>
                        <li>Define and manage the scope of testing within the context of each project/release.</li>
                        <li>Create test strategy and approach documents for projects/releases, get stakeholder buy-in,
                          and keep documents updated as and when changes are required.</li>
                        <li>Provide test estimates for the types of testing carried out.</li>
                        <li>Create reports and testing metrics as requested by management.</li>
                        <li>Manage testers' work to ensure testing is completed on time and within budget. Resolve
                          conflicts arising between team members or with external team members.</li>
                        <li>Ensure entry criteria are met before starting testing. Ensure exit criteria are met and
                          communicated to stakeholders.</li>
                        <li>Create and sign off test closure forms and obtain approval from stakeholders.</li>
                        <li>Participate in QA reviews and provide required support and clarifications as needed for the
                          reviewers.</li>
                        <li>Ensure all testing deliverables and reports are version controlled and accessible for the
                          testing team and other users.</li>
                        <li>Fulfil the role of testing co-ordinator for a development project or programme of projects.
                        </li>
                        <li>Utilise testing knowledge and experience to assess and advise on the practicality of testing
                          process alternatives. Identify improvements to the process and assist in their implementation.
                        </li>
                        <li>Provide authoritative advice and guidance to colleagues on any aspect of testing, including
                          training for testers throughout subsequent development and testing activities.</li>
                        <li>Plan, arrange, and control meetings, workshops, and relations with user staff during test
                          planning and through subsequent development and testing activities.</li>
                        <li>Take responsibility for the production and approval of all testing deliverables and
                          achievements of testing milestones during a project.</li>
                        <li>Ability to coordinate teams both internally and externally.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox3"></td>
                    <td><label class="form-check-label" for="checkbox3">QA/Functional Test Lead</label></td>
                    <td>
                      <ul>
                        <li>Ability to work independently providing professional advice, managing and coordinating the
                          work of others.</li>
                        <li>Maintain the status of projects and monitor the activities of the team members.</li>
                        <li>Lead multiple phases of a project(s).</li>
                        <li>Participate in reviews of requirements and design documents.</li>
                        <li>Coordinate schedules of work and reporting on the progress of all activities against the
                          overall project(s) plan.</li>
                        <li>Analyse and report on overall test status and results, identifying issues reporting to
                          stakeholders on test metrics.</li>
                        <li>Perform risk management with the creation of the Test RAID log.</li>
                        <li>Defect Management.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox4"></td>
                    <td><label class="form-check-label" for="checkbox4">QA / Test Analyst</label></td>
                    <td>
                      <ul>
                        <li>Identify and define tests, working alongside business analysts.</li>
                        <li>Monitor test coverage and evaluate the overall quality experienced when testing the Target
                          Test items.</li>
                        <li>Specify the required Test Data and evaluate the outcome of the testing conducted in each
                          test cycle.</li>
                        <li>Report testing progress and issues to QA / Test Manager or Project Manager.</li>
                        <li>Own test scripts and incorporate feedback received from users.</li>
                        <li>Prepare for testing, including developing any required documentation.</li>
                        <li>Manage testing cycles - this includes conducting testing, providing guidance to testers,
                          collating feedback, and working with developers to incorporate feedback into overall
                          development.</li>
                        <li>Take ownership for delivery of testing in conjunction with the pre-defined timelines.</li>
                        <li>Act as an escalation point for issues/potential problems arising from other project team
                          members who are testing.</li>
                        <li>Document and present test results.</li>
                        <li>Communicate progress to all members of the project team and other stakeholders.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox5"></td>
                    <td><label class="form-check-label" for="checkbox5">Non-Functional Test (NFT) Lead</label></td>
                    <td>
                      <ul>
                        <li>Lead the non-functional project testing effort and be responsible for any non-functional
                          testing-related activities across the organisation.</li>
                        <li>Research, propose, and implement NFT process improvements.</li>
                        <li>Plan and track non-functional projects and resources.</li>
                        <li>Contribute to the initial assessment of in-scope NFT projects.</li>
                        <li>Prepare NFT test plan for in-scope NFT projects.</li>
                        <li>Preparation and/or execution of tests in the absence of available NFT Analyst.</li>
                        <li>Represent NFT in strategic reviews and presentations of products if NFT Architect is
                          unavailable.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox6"></td>
                    <td><label class="form-check-label" for="checkbox6">Non-Functional Test (NFT) Analyst</label></td>
                    <td>
                      <ul>
                        <li>Involved in the preparation and execution phases of the non-functional test cycle.</li>
                        <li>Support the NFT Lead in planning and closure activities for projects.</li>
                        <li>Feed into NFT Lead at all stages of the project.</li>
                        <li>Build up test environment.</li>
                        <li>Execute test cases, troubleshoot issues, and assist in root cause analysis.</li>
                        <li>Analyse results and report defects.</li>
                        <li>Capture and document knowledge for reuse by team members.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox7"></td>
                    <td><label class="form-check-label" for="checkbox7">Automation Analyst/Engineer</label></td>
                    <td>
                      <ul>
                        <li>Work on quality engineering projects using available frameworks and tools and supporting the
                          senior engineer.</li>
                        <li>Responsible for test automation within projects.</li>
                        <li>Select methods and tools, ensuring that effective project control and risk management
                          processes are maintained.</li>
                        <li>Apply data analysis and data modelling techniques to modify or maintain data structures and
                          associated components.</li>
                        <li>Create and execute test scripts and set up test environments.</li>
                        <li>Create traceability records, from test cases to requirements.</li>
                        <li>Produce test scripts, materials, and regression packs to test new and amended software or
                          services.</li>
                        <li>Capture and document knowledge for reuse within the team.</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Table with Checkboxes ends here -->
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Client 3 Public sector pool - Location : All Over UK
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <!-- Table with Checkboxes for Accordion Item #3 -->
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Role</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox8"></td>
                    <td><label class="form-check-label" for="checkbox8">Quality Assurance Testing (QAT)
                        Specialists</label></td>
                    <td>
                      <ul>
                        <li>Test specialist professionals bought ‘as a service’ and capable of delivering services
                          across the full life cycle of your project or design process.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox9"></td>
                    <td><label class="form-check-label" for="checkbox9">Quality Assurance (QA) & DevOps</label></td>
                    <td>
                      <ul>
                        <li>To support cost effective continuous release methods within an agile or Dev-Ops environment.
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox10"></td>
                    <td><label class="form-check-label" for="checkbox10">Load & Performance Testing</label></td>
                    <td>
                      <ul>
                        <li>To determine how systems perform against specific performance needs and comparative
                          baselines, including under load and stress.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox11"></td>
                    <td><label class="form-check-label" for="checkbox11">Quality Assurance (QA) & Testing</label></td>
                    <td>
                      <ul>
                        <li>To establish and manage an appropriate level of QA and testing in line with programme
                          delivery plans, validation and verification of a system against specifications and
                          requirements covering functional and non-functional aspects.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox12"></td>
                    <td><label class="form-check-label" for="checkbox12">Infrastructure Testing</label></td>
                    <td>
                      <ul>
                        <li>To test the performance of system infrastructures, including network provisions and hosting
                          across LAN, WAN and cloud infrastructures.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox13"></td>
                    <td><label class="form-check-label" for="checkbox13">Operational Acceptance Testing (OAT)</label>
                    </td>
                    <td>
                      <ul>
                        <li>This service focuses on testing and assuring the operational readiness of your system(s).
                          This may include Service Readiness Testing, resilience, and disaster recovery.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox14"></td>
                    <td><label class="form-check-label" for="checkbox14">Strategic Quality Assurance Consultant
                        (Senior)</label></td>
                    <td>
                      <ul>
                        <li>Strategic consultancy support across all aspects of the test and systems development life
                          cycle.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox15"></td>
                    <td><label class="form-check-label" for="checkbox15">Accessibility Quality Assurance (QA) and
                        Testing</label></td>
                    <td>
                      <ul>
                        <li>To assess how far a product or service is easy for its intended audience to use (includes
                          users who access the service via a range of assistive technologies like screen readers, voice
                          recognition, and input devices).</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox16"></td>
                    <td><label class="form-check-label" for="checkbox16">Security Quality Assurance (QA) and
                        Testing</label></td>
                    <td>
                      <ul>
                        <li>To identify threats and measure potential vulnerabilities. The testing scope includes the
                          whole system and not just the software involved. Much of the testing will be automated,
                          supported by advanced exploratory testing and cyber-related defense and assessments.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" class="form-check-input" id="checkbox17"></td>
                    <td><label class="form-check-label" for="checkbox17">Quality Assurance (QA) Capability
                        Development</label></td>
                    <td>
                      <ul>
                        <li>Support for all aspects of growing civil servant capability within the QA specialism,
                          including learning and development, recruitment, knowledge management, and graduate/apprentice
                          onboarding.</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Table with Checkboxes ends here -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button type="button" routerLink="/cir/cir-otherdetails-form" class="btn btn-primary btn-round">Next Step</button>
      </div>
    </div>
  </div>
</section>