<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1"><b>ACR</b> Login</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <span class="showicon" *ngIf="!showPassword" (click)="showHidePass()"><i
                  class="bi bi-eye-fill"></i></span>
              <span class="showicon" *ngIf="showPassword" (click)="showHidePass()"><i
                  class="bi bi-eye-slash-fill"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <!-- Blank -->
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-block" routerLink="/cir/cir-card">Sign In</button>
            </div>
          </div>
        </form>

        <p class="mb-4 mt-2 text-center">
          <a class="text-center" routerLink="/acr/acr-register">Register a new account ?</a>
        </p>
      </div>
    </div>
  </div>
</div>