<section class="section-accordian-card">
  <div class="container">
    <h4 style="text-align: center;"><strong>All Jobs</strong></h4><br>
    <div class="table-responsive">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Job ID</th>
            <th scope="col">JOb Title</th>
            <th scope="col">No. of Roles</th>
            <th scope="col">Publish Date</th>
            <th scope="col">Position Start Date</th>
            <th scope="col">Day Rate</th>
            <th [width]="100" scope="col">Additonal Details</th>
            <th scope="col">Timer</th>
            <th [width]="200" scope="col">Take ACtion</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of joblist; let i = index">
            <td>{{job.job_id}}</td>
            <td>{{job.job_title}}</td>
            <td>{{job.no_of_roles}}</td>
            <td>{{job.publish_date | date:'dd/MM/yyyy'}}</td>
            <td>{{job.start_date | date:'dd/MM/yyyy'}}</td>
            <td>{{job.client_name}}</td>
            <td>Read me</td>
            <td style="color: red;">{{job?.timerEnd}}</td>
            <td class="text-center">
              <label>
                <input type="radio" name="choice{{ i }}" value="yes" (click)="openModal(job)" data-bs-toggle="modal"
                  data-bs-target="#loginDetailModal">
                Yes
              </label>&nbsp;
              <label>
                <input type="radio" name="choice{{ i }}" value="no">
                No
              </label>
            </td>
            <td>{{job.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<div class="modal fade" id="loginDetailModal" tabindex="-1" aria-labelledby="ViewLogin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewLogin">Upload Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="resourcesForm">

          <div class="row">
            <div class="col-md-4">
              <label>How many resources ? <span style="color: red;"> *</span> :</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter resources"
                  formControlName="howmanyresources">
              </div>
            </div>
          </div>

          <table class="table table-bordered">
            <thead class="card-header">
              <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Upload CV </th>
                <th scope="col">Candidate Nationality</th>
                <th scope="col">Candidate Location</th>
              </tr>
            </thead>
            <tbody formArrayName="candidates">
              <!-- Add [formGroupName]="i" to bind each row correctly -->
              <tr *ngFor="let candidate of candidates.controls; let i = index" [formGroupName]="i">
                <td class="text-center">{{ i + 1 }}.</td>
                <td>
                  <input type="file" class="form-control" (change)="fileUpload($event)" required>
                </td>
                <td>
                  <input type="text" placeholder="Enter nationality" class="form-control"
                    formControlName="nationality" />
                </td>
                <td>
                  <input type="text" placeholder="Enter job title" class="form-control" formControlName="location" />
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="removeCandidate(i)"
                    *ngIf="candidates.length > 1">-</button>&nbsp;
                  <button type="button" class="btn btn-primary" (click)="addCandidate()"
                    *ngIf="i === candidates.length - 1">+</button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-5">
              <label>Timer:</label>
            </div>
            <div class="col-md-7" style="color: red;">
              <div class="timer" id="timer"><strong>24:00:00</strong></div>
            </div>
          </div>

          <div class="col-3" style="float: right;">
            <div class="d-flex align-items-center justify-content-between">
              <button type="button" (click)="submit()" class="btn btn-primary w-50">Submit</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>