<section>
  <div class="container">
    <div class="FlatCard shadow border-radius24">
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-12">
          <div class="FormLeft-panel">
            <div class="text-center">
              <img src="../../../../assets/img/white-logo.svg" width="200" class="mb-5" />
            </div>
            <h1 class="HeadingLarge">We’re here to help, Send us a message</h1>
            <h5 class="mb-5">We’d love to hear from you!</h5>
            <p><strong>Company Name Technologies Ltd.</strong><br>
              Magnet House 2nd Floor, <br>Magnet House Narottam Morarjee Marg, <br>Ballard Estate, Mumbai - 400 001
            </p>
            <p>Phone: 022-68208600</p>
          </div>
        </div>
        <!--start Form here-->
        <div class="col-lg-7 col-xl-7 col-12">
          <div class="FormRight-panel">
            <h4><strong>Personal Details</strong></h4>
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Candidate Name :</label>
                    <input type="text" class="form-control" placeholder="Candidate Name">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Contact Email :
                    </label>
                    <input type="text" class="form-control" placeholder="Contact Email">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Secondary Email :
                    </label>
                    <input type="text" class="form-control" placeholder="Secondary Email">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Contact Phone number :</label>
                    <input type="email" class="form-control" placeholder="Contact Phone number">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Secondary Phone number :</label>
                    <input type="email" class="form-control" placeholder="Secondary Phone number">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control" placeholder="Date of Birth">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Education :</label>
                    <input type="text" class="form-control" placeholder="Education">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Profile Picture</label>
                    <input type="file" id="myfile" name="myfile" class="form-control" placeholder="Profile Picture">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Candidate Current Location</label>
                    <input type="text" class="form-control" placeholder="Current Location">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Nationality :</label>
                    <input type="text" class="form-control" placeholder="Nationality">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Do you Have a UK Driving license? :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select Type</option>
                      <option value="DrivinglicenseYes">Yes</option>
                      <option value="DrivinglicenseNo">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Emergency contact details (if, any) :</label>
                    <input type="text" class="form-control" placeholder="Emergency contact details">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Next Step</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="FlatCard shadow border-radius24">
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-12">
          <div class="FormLeft-panel">
            <div class="text-center">
              <img src="../../../../assets/img/white-logo.svg" width="200" class="mb-5" />
            </div>
            <h1 class="HeadingLarge">We’re here to help, Send us a message</h1>
            <h5 class="mb-5">We’d love to hear from you!</h5>
            <p><strong>Company Name Technologies Ltd.</strong><br>
              Magnet House 2nd Floor, <br>Magnet House Narottam Morarjee Marg, <br>Ballard Estate, Mumbai - 400 001
            </p>
            <p>Phone: 022-68208600</p>
          </div>
        </div>
        <!--start Form here-->
        <div class="col-lg-7 col-xl-7 col-12">
          <div class="FormRight-panel">
            <h4><strong>Other Details</strong></h4>
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Do you hold any SC/DV? :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select option</option>
                      <option value="scdvnseYes">Yes</option>
                      <option value="scdvnseNo">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>If your answer to above is NO, then are you willing to undertake one, if we/client wish to
                      sponsor for clearance certificate :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select option</option>
                      <option value="clearancecertificateYes">Yes</option>
                      <option value="clearancecertificateNo">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Preferred time for a call, if/when we wish to speak with you :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select preferred time</option>
                      <option value="1">1-2 AM</option>
                      <option value="2">2-3 AM</option>
                      <option value="3">3-4 AM</option>
                      <option value="4">4-5 AM</option>
                      <option value="5">5-6 AM</option>
                      <option value="6">6-7 AM</option>
                      <option value="7">7-8 AM</option>
                      <option value="8">8-9 AM</option>
                      <option value="9">9-10 AM</option>
                      <option value="10">10-11 AM</option>
                      <option value="11">11-12 AM</option>

                      <option value="12">12-1 PM</option>
                      <option value="13">1-2 PM</option>
                      <option value="14">2-3 PM</option>
                      <option value="15">3-4 PM</option>
                      <option value="16">4-5 PM</option>
                      <option value="17">5-6 PM</option>
                      <option value="18">6-7 PM</option>
                      <option value="19">7-8 PM</option>
                      <option value="20">8-9 PM</option>
                      <option value="21">9-10 PM</option>
                      <option value="22">10-11 PM</option>
                      <option value="23">11-12 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Your expected day rate (excluding VAT) :
                    </label>
                    <input type="text" class="form-control" placeholder="expected day rate">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Referred by :
                    </label>
                    <input type="text" class="form-control" placeholder="Referred by">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Current Notice Period :</label>
                    <input type="date" class="form-control" placeholder="Current Notice Period">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Future Availability :</label>
                    <input type="date" class="form-control" placeholder="Future Availability">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Your current job is :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select current job type</option>
                      <option value="permanent_job">Permanent Job </option>
                      <option value="temporary_job">Temporary Job</option>
                      <option value="day_rate">Day Rate</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>You are looking for a :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select looking for type</option>
                      <option value="permanent_job">Permanent Job </option>
                      <option value="temporary_job">Temporary Job</option>
                      <option value="day_rate">Day Rate</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Working preference :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select working preference type</option>
                      <option value="remote">Available for remote</option>
                      <option value="weekly_office">Available weekly N number of days to work from office</option>
                      <option value="any_place">Open to work at any place</option>
                      <option value="travel_within_country">Open to travel to client place if within the country
                      </option>
                      <option value="travel_worldwide">Open to travel anywhere in the world</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Availability :</label>
                    <select class="form-control" formControlName="user_type">
                      <option value="" disabled selected hidden>Select availability type</option>
                      <option value="full_time_can_work_full_time">Working full time but can work full time for you
                      </option>
                      <option value="full_time_can_work_part_time">Working full time and can work part time for you
                      </option>
                      <option value="engage_in_future">Currently working somewhere, can engage in future</option>
                      <option value="ready_to_start">Ready to start</option>
                      <option value="temporary_or_short_term">Available for temporary or short-term assignments</option>
                      <option value="seasonal_availability">Available for work during specific seasons or times of the
                        year</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Next Step</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="FlatCard shadow border-radius24">
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-12">
          <div class="FormLeft-panel">
            <div class="text-center">
              <img src="../../../../assets/img/white-logo.svg" width="200" class="mb-5" />
            </div>
            <h1 class="HeadingLarge">We’re here to help, Send us a message</h1>
            <h5 class="mb-5">We’d love to hear from you!</h5>
            <p><strong>Company Name Technologies Ltd.</strong><br>
              Magnet House 2nd Floor, <br>Magnet House Narottam Morarjee Marg, <br>Ballard Estate, Mumbai - 400 001
            </p>
            <p>Phone: 022-68208600</p>
          </div>
        </div>
        <!--start Form here-->
        <div class="col-lg-7 col-xl-7 col-12">
          <div class="FormRight-panel">
            <h4><strong>Login details</strong></h4>
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Username :</label>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Password :
                    </label>
                    <input type="text" class="form-control" placeholder="Password">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Confirm Password :
                    </label>
                    <input type="text" class="form-control" placeholder="Confirm Password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>