<section class="section-registration">
  <div class="container">
    <div class="FlatCard shadow border-radius24">
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-12">
          <div class="FormLeft-panel">
            <div class="text-center">
              <img src="../../../../assets/img/Picture1.png" width="200" class="mb-5" />
            </div>
            <h1 class="HeadingLarge">“Elevate Your Career with SaiVen: Join Public Sector IT Projects”</h1>
            <p class="mb-5 textfont">SaiVen, a leading member company collaborating with IT firms across the UK and
              India, is dedicated to delivering top-tier IT projects for public sector clients in UK. As the driving
              force behind client relationship management, project governance, and delivery management, we ensure
              seamless execution and exceptional results. We also specialize in engaging immigration-free resources,
              enabling quick and cost-effective resource augmentation. Partner with us for exciting contract
              opportunities and be a part of our success story.</p>
            <p><strong>Saiven Technology Solution</strong><br>
              1-04, Focal Point, <br>27-35 Fleet Street, <br>Swindon SN1 1RQ
            </p>
            <p>Phone: 8856876</p>
          </div>
        </div>
        <div class="col-lg-7 col-xl-7 col-12">
          <div class="FormRight-panel">
            <h4><strong>Personal Details</strong></h4>
            <form [formGroup]="personalDetailForm" (ngSubmit)="submitPersonalDetail()">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Candidate Name :</label>
                    <input type="text" class="form-control" placeholder="Candidate Name" formControlName="name">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['name']?.touched &&
                      personalDetailForm.controls?.['name']?.errors?.['required']">
                      Please enter candidate name.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['name']?.touched &&
                      personalDetailForm.controls?.['name']?.errors?.['pattern']">
                      Please enter valid formate of candidate name.
                    </span>
                  </div>
                </div>
                <div class="col-lg-12 colxl-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label>Contact Email :
                    </label>
                    <input type="email" class="form-control" placeholder="Contact Email" formControlName="email">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['email']?.touched &&
                      personalDetailForm.controls?.['email']?.errors?.['required']">
                      Please enter candidate email.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['email']?.touched &&
                      personalDetailForm.controls?.['email']?.errors?.['pattern']">
                      Please enter a valid email address in the format 'username@example.com' .
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Country Code :</label>
                    <select class="form-control" formControlName="countrycode">
                      <option value="" disabled selected hidden>Select Country Code</option>
                      <option value="91">+91 </option>
                      <option value="44">+44</option>
                    </select>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['countrycode']?.touched &&
                      personalDetailForm.controls?.['countrycode']?.errors?.['required']">
                      Please enter contact country code.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['countrycode']?.touched &&
                      personalDetailForm.controls?.['countrycode']?.errors?.['pattern']">
                      Please enter valid formate of contact country code.
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Contact Phone number :</label>
                    <input type="tel" class="form-control" placeholder="Contact Phone number" [maxlength]="10"
                      (keypress)="NumberOnly($event)" formControlName="phoneNumber">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['phoneNumber']?.touched &&
                      personalDetailForm.controls?.['phoneNumber']?.errors?.['required']">
                      Please enter contact phone number.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['phoneNumber']?.touched &&
                      personalDetailForm.controls?.['phoneNumber']?.errors?.['pattern']">
                      Please enter valid formate of contact phone number.
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Nationality :</label>
                    <select class="form-control" formControlName="nationality">
                      <option value="" disabled selected hidden>Select Nationality</option>
                      <option value="british">British</option>
                      <option value="other">Others</option>
                    </select>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['nationality']?.touched &&
                      personalDetailForm.controls?.['nationality']?.errors?.['required']">
                      Please enter nationality.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['nationality']?.touched &&
                      personalDetailForm.controls?.['nationality']?.errors?.['pattern']">
                      Please enter valid formate of nationality.
                    </span>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>UK visa type :</label>
                    <input type="text" class="form-control" placeholder="UK visa type" formControlName="UKVisaType">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['UKVisaType']?.touched &&
                      personalDetailForm.controls?.['UKVisaType']?.errors?.['required']">
                      Please enter uk visa type.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['UKVisaType']?.touched &&
                      personalDetailForm.controls?.['UKVisaType']?.errors?.['pattern']">
                      Please enter valid formate of uk visa type.
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 pr-1">
                  <div class="form-group">
                    <label>Do you Have a UK Driving license? :</label>
                    <select class="form-control" formControlName="UKDrivinglicense">
                      <option value="" disabled selected hidden>Select Type</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['UKDrivinglicense']?.touched &&
                      personalDetailForm.controls?.['UKDrivinglicense']?.errors?.['required']">
                      Please select.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['UKDrivinglicense']?.touched &&
                      personalDetailForm.controls?.['UKDrivinglicense']?.errors?.['pattern']">
                      Please select.
                    </span>
                  </div>
                </div>
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text" class="form-control" placeholder="Postal Code" formControlName="postalCode"
                      (keypress)="NumberOnly($event)">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['postalCode']?.touched &&
                      personalDetailForm.controls?.['postalCode']?.errors?.['required']">
                      Please enter candidate Postal Code.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['postalCode']?.touched &&
                      personalDetailForm.controls?.['postalCode']?.errors?.['pattern']">
                      Please enter valid formate of candidate Postal Code.
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>I am looking for: </label><br>
                    <label>
                      <input type="checkbox" name="roles" value="full-time-role" (change)="onCheckboxChange($event)">
                      Full time role
                    </label><br>
                    <label>
                      <input type="checkbox" name="roles" value="additional-role" (change)="onCheckboxChange($event)">
                      Additional role
                    </label><br>
                    <label>
                      <input type="checkbox" name="roles" value="part-time-role" (change)="onCheckboxChange($event)">
                      Part-time role
                    </label>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['lookingFor']?.touched &&
                      personalDetailForm.controls?.['lookingFor']?.errors?.['required']">
                      Please enter candidate Emergency Contact Name.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['lookingFor']?.touched &&
                      personalDetailForm.controls?.['lookingFor']?.errors?.['pattern']">
                      Please enter valid formate of candidate Emergency Contact Name.
                    </span>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>My current work :</label><br>
                    <label>
                      <input type="radio" name="work_status" value="full-time" formControlName="currentWork">
                      Working full-time
                    </label><br>
                    <label>
                      <input type="radio" name="work_status" value="part-time" formControlName="currentWork">
                      Working part-time
                    </label><br>
                    <label>
                      <input type="radio" name="work_status" value="not-working" formControlName="currentWork">
                      Not working
                    </label>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['currentWork']?.touched &&
                      personalDetailForm.controls?.['currentWork']?.errors?.['required']">
                      Please enter current work.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['currentWork']?.touched &&
                      personalDetailForm.controls?.['currentWork']?.errors?.['pattern']">
                      Please enter a valid current work' .
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Next Step</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>