<section class="section-registration">
  <div class="container">
    <div class="FlatCard shadow border-radius24">
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-12">
          <div class="FormLeft-panel">
            <div class="text-center">
              <img src="../../../../assets/img/Picture1.png" width="200" class="mb-5" />
            </div>
            <h1 class="HeadingLarge">“Elevate Your Career with SaiVen: Join Public Sector IT Projects”</h1>
            <p class="mb-5 textfont">SaiVen, a leading member company collaborating with IT firms across the UK and
              India, is dedicated to delivering top-tier IT projects for public sector clients in UK. As the driving
              force behind client relationship management, project governance, and delivery management, we ensure
              seamless execution and exceptional results. We also specialize in engaging immigration-free resources,
              enabling quick and cost-effective resource augmentation. Partner with us for exciting contract
              opportunities and be a part of our success story.</p>
            <p><strong>Saiven Technology Solution</strong><br>
              1-04, Focal Point, <br>27-35 Fleet Street, <br>Swindon SN1 1RQ
            </p>
            <p>Phone: 8856876</p>
          </div>
        </div>
        <div class="col-lg-7 col-xl-7 col-12">
          <div class="FormRight-panel">
            <h4><strong>Personal Details</strong></h4><br>
            <!-- <h5><strong>All fields are mandatory</strong></h5><br/> -->
            <form [formGroup]="personalDetailForm" (ngSubmit)="submitPersonalDetail()">
              <!-- Name -->
              <div class="row">
                <div class="col-md-4">
                  <label>Your Name <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name" formControlName="name">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['name']?.touched &&
                      personalDetailForm.controls?.['name']?.errors?.['required']">
                      Please enter your name.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['name']?.touched &&
                      personalDetailForm.controls?.['name']?.errors?.['pattern']">
                      Please enter a valid format for your name.
                    </span>
                  </div>
                </div>
              </div>

              <!-- Email -->
              <div class="row">
                <div class="col-md-4">
                  <label>Your Email <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email" formControlName="email">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['email']?.touched &&
                      personalDetailForm.controls?.['email']?.errors?.['required']">
                      Please enter your email.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['email']?.touched &&
                      personalDetailForm.controls?.['email']?.errors?.['pattern']">
                      Please enter a valid email address in the format 'username@example.com'.
                    </span>
                  </div>
                </div>
              </div>

              <!-- Phone Number -->
              <div class="row">
                <div class="col-md-4">
                  <label>Your Phone number <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control" formControlName="countrycode">
                      <option value="" disabled selected hidden>Select Country Code</option>
                      <option value="91">+91</option>
                      <option value="44">+44</option>
                    </select>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['countrycode']?.touched &&
                      personalDetailForm.controls?.['countrycode']?.errors?.['required']">
                      Please enter the country code.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['countrycode']?.touched &&
                      personalDetailForm.controls?.['countrycode']?.errors?.['pattern']">
                      Please enter a valid format for the country code.
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="tel" class="form-control" placeholder="Your Phone number" [maxlength]="10"
                      (keypress)="NumberOnly($event)" formControlName="phoneNumber">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['phoneNumber']?.touched &&
                      personalDetailForm.controls?.['phoneNumber']?.errors?.['required']">
                      Please enter your phone number.
                    </span>
                  </div>
                </div>
              </div>

              <!-- Nationality and UK Visa Type -->
              <div class="row">
                <div class="col-md-4">
                  <label>Nationality <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <select class="form-control" formControlName="nationality" (change)="onNationalityChange($event)">
                      <option value="" disabled selected hidden>Select Nationality</option>
                      <option value="british">British</option>
                      <option value="other">Others</option>
                    </select>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['nationality']?.touched &&
                      personalDetailForm.controls?.['nationality']?.errors?.['required']">
                      Please enter your nationality.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['nationality']?.touched &&
                      personalDetailForm.controls?.['nationality']?.errors?.['pattern']">
                      Please enter a valid format for your nationality.
                    </span>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="showUKVisaType">
                <div class="col-md-4">
                  <label>UK Visa Type <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Current Visa Type" formControlName="UKVisaType">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['UKVisaType']?.touched &&
                      personalDetailForm.controls?.['UKVisaType']?.errors?.['required']">
                      Please enter your UK visa type.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['UKVisaType']?.touched &&
                      personalDetailForm.controls?.['UKVisaType']?.errors?.['pattern']">
                      Please enter a valid format for your UK visa type.
                    </span>
                  </div>
                </div>
              </div>

              <!-- UK Driving License -->
              <div class="row">
                <div class="col-md-4">
                  <label>Do you Have a UK Driving license? <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <select class="form-control" formControlName="UKDrivinglicense">
                      <option value="" disabled selected hidden>Select Type</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['UKDrivinglicense']?.touched &&
                      personalDetailForm.controls?.['UKDrivinglicense']?.errors?.['required']">
                      Please select a value.
                    </span>
                  </div>
                </div>
              </div>

              <!-- Postal Code -->
              <div class="row">
                <div class="col-md-4">
                  <label>Postal Code <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Postal Code" formControlName="postalCode">
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['postalCode']?.touched &&
                      personalDetailForm.controls?.['postalCode']?.errors?.['required']">
                      Please enter your postal code.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['postalCode']?.touched &&
                      personalDetailForm.controls?.['postalCode']?.errors?.['pattern']">
                      Please enter a valid format for your postal code.
                    </span>
                  </div>
                </div>
              </div>

              <!-- Current Work -->
              <div class="row">
                <div class="col-md-4">
                  <label>I'm currently <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>
                      <input type="radio" id="1" name="currentWork" value="full-time" formControlName="currentWork">&nbsp;
                      <span style="font-weight: normal;"> Working full-time</span>
                    </label><br>
                    <label>
                      <input type="radio" id="2" name="currentWork" value="part-time" formControlName="currentWork">&nbsp;
                      <span style="font-weight: normal;"> Working part-time</span>
                    </label><br>
                    <label>
                      <input type="radio" id="3" name="currentWork" value="not-working" formControlName="currentWork">&nbsp;
                      <span style="font-weight: normal;"> Not working</span>
                    </label>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['currentWork']?.touched &&
                      personalDetailForm.controls?.['currentWork']?.errors?.['required']">
                      Please select your current work status.
                    </span>
                  </div>
                </div>
              </div>

              <!-- Looking For -->
              <div class="row">
                <div class="col-md-4">
                  <label>I am looking for <span style="color: red;">*</span> :</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>
                      <input type="checkbox" name="roles" value="full-time-role" (change)="onCheckboxChange($event)"
                        [checked]="selectedLookingFor('full-time-role')">&nbsp;
                      <span style="font-weight: normal;"> Full time role</span>
                    </label><br>
                    <label>
                      <input type="checkbox" name="roles" value="additional-role" (change)="onCheckboxChange($event)"
                        [checked]="selectedLookingFor('additional-role')">&nbsp;
                      <span style="font-weight: normal;"> Additional role</span>
                    </label><br>
                    <label>
                      <input type="checkbox" name="roles" value="part-time-role" (change)="onCheckboxChange($event)"
                        [checked]="selectedLookingFor('part-time-role')">&nbsp;
                      <span style="font-weight: normal;"> Part-time role</span>
                    </label>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['lookingFor']?.touched &&
                      personalDetailForm.controls?.['lookingFor']?.errors?.['required']">
                      Please select what you are looking for.
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 update">
                  <button style="float: right !important;" type="submit" class="btn btn-primary btn-round">Next Step</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>