<section>
  <div class="container">
    <div class="FlatCard shadow border-radius24">
      <div class="row">
        <!-- Left Panel -->
        <div class="col-lg-5 col-xl-5 col-12">
          <div class="FormLeft-panel">
            <div class="text-center">
              <img src="../../../../assets/img/Picture1.png" width="200" class="mb-5" />
            </div>
            <h1 class="HeadingLarge">“Elevate Your Career with SaiVen: Join Public Sector IT Projects”</h1>
            <p class="mb-5 textfont">SaiVen, a leading member company collaborating with IT firms across the UK and
              India, is dedicated to delivering top-tier IT projects for public sector clients in UK. As the driving
              force behind client relationship management, project governance, and delivery management, we ensure
              seamless execution and exceptional results. We also specialize in engaging immigration-free resources,
              enabling quick and cost-effective resource augmentation. Partner with us for exciting contract
              opportunities and be a part of our success story.</p>
            <p><strong>Saiven Technology Solution</strong><br>
              1-04, Focal Point, <br>27-35 Fleet Street, <br>Swindon SN1 1RQ
            </p>
            <p>Phone: 8856876</p>
          </div>
        </div>

        <!-- Right Panel (Personal Details Form) -->
        <div class="col-lg-7 col-xl-7 col-12">
          <div class="FormRight-panel">
            <h4><strong>Profile</strong></h4>
            <form [formGroup]="profileForm" (ngSubmit)="submit()">
              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="name">Your Name:</label>
                </div>
                <div class="col-md-8">
                  <input id="name" type="text" class="form-control" placeholder="Your Name" formControlName="name">
                  <span class="text-danger" *ngIf="
                    profileForm?.controls?.['name']?.touched &&
                    profileForm?.controls?.['name']?.errors?.['required']">
                    Please enter your name.
                  </span>
                  <span class="text-danger" *ngIf="
                    profileForm?.controls?.['name']?.touched &&
                    profileForm?.controls?.['name']?.errors?.['pattern']">
                    Please enter a valid format of your name.
                  </span>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="email">Your Email:</label>
                </div>
                <div class="col-md-8">
                  <input id="email" type="email" class="form-control" placeholder="Your Email" formControlName="email"
                    readonly>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="phoneNumber">Your Phone Number:</label>
                </div>
                <div class="col-md-8">
                  <input id="phoneNumber" type="tel" class="form-control" placeholder="Your Phone Number"
                    [maxlength]="10" formControlName="phoneNumber" readonly>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="nationality">Nationality:</label>
                </div>
                <div class="col-md-8">
                  <input id="nationality" type="text" class="form-control" placeholder="Nationality"
                    formControlName="nationality" readonly>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="postalCode">Postal Code:</label>
                </div>
                <div class="col-md-8">
                  <input id="postalCode" type="text" class="form-control" placeholder="Postal Code"
                    formControlName="postalCode" readonly>
                </div>
              </div>

              <div class="row mt-4 mb-3">
                <div class="col-12">
                  <h4>Update Password</h4>
                </div>
              </div>

              <div>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="password">Password:</label>
                  </div>
                  <div class="col-md-8">
                    <input id="password" type="password" class="form-control" placeholder="Password"
                      formControlName="password">
                    <span class="text-danger" *ngIf="
                      profileForm?.controls?.['password']?.touched &&
                      profileForm?.controls?.['password']?.errors?.['required']">
                      Please enter a password.
                    </span>
                    <span class="text-danger" *ngIf="
                      profileForm?.controls?.['password']?.touched &&
                      profileForm?.controls?.['password']?.errors?.['pattern']">
                      Password must contain a capital letter, a number, and '@'.
                    </span>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="confirmPassword">Confirm Password:</label>
                  </div>
                  <div class="col-md-8">
                    <input id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
                      formControlName="confirmPassword">
                    <span class="text-danger" *ngIf="
                      profileForm?.controls?.['confirmPassword']?.touched &&
                      profileForm?.controls?.['confirmPassword']?.errors?.['required']">
                      Please confirm your password.
                    </span>
                    <span class="text-danger" *ngIf="
                      profileForm?.controls?.['confirmPassword']?.touched &&
                      profileForm?.controls?.['confirmPassword']?.errors?.['pattern']">
                      Password must contain a capital letter, a number, and '@'.
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-primary btn-round">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End Form -->
      </div>
    </div>
  </div>
</section>