<section>
  <div class="container">
    <div class="FlatCard shadow border-radius24">
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-12">
          <div class="FormLeft-panel">
            <div class="text-center">
              <img src="../../../../assets/img/white-logo.svg" width="200" class="mb-5" />
            </div>
            <h1 class="HeadingLarge">We’re here to help, Send us a message</h1>
            <h5 class="mb-5">We’d love to hear from you!</h5>
            <p><strong>Company Name Technologies Ltd.</strong><br>
              Magnet House 2nd Floor, <br>Magnet House Narottam Morarjee Marg, <br>Ballard Estate, Mumbai - 400 001
            </p>
            <p>Phone: 022-68208600</p>
          </div>
        </div>
        <!--start Form here-->
        <div class="col-lg-7 col-xl-7 col-12">
          <div class="FormRight-panel">
            <h4><strong>ACR Form</strong></h4>
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Supplier/Agency Name:</label>
                    <input type="text" class="form-control" placeholder="Candidate Name">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Location:
                    </label>
                    <input type="text" class="form-control" placeholder="Current Location">
                  </div>
                </div>
                <div class="col-lg-6 colxl-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Number Of Branches in
                      UK:</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Key Contact Person
                      Name:</label>
                    <input type="text" class="form-control" placeholder="SC/DV">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Key Contact Person
                      Designation:</label>
                    <input type="text" class="form-control" placeholder="clearance certificate">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Key Contact Person
                      Email:</label>
                    <input type="text" class="form-control" placeholder="Email Id">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Key Contact Person
                      phone number:</label>
                    <input type="text" class="form-control" placeholder="Phone number">
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Secondary contact details
                      (if, any):
                    </label>
                    <input type="text" class="form-control" placeholder="Preferred time">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>Emergency Secondary contact details (if, any):</label>
                    <input type="text" class="form-control" placeholder="contact details">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Referred by: </label>
                    <textarea class="form-control textarea"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Add Username:</label>
                  <input type="text" class="form-control" placeholder="contact details">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Add Password:</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Confirm Password:</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--/colse Form-->
      </div>
    </div>
  </div>
</section>