<section>
  <div class="container">
    <div class="Titleheading">
      <h1>Database List</h1>
    </div>
    <ng-container *ngFor="let item of tableData">
      <div class="FlatCard mb-3">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-6">
              <strong>{{ item?.tableName }}</strong>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-primary" (click)="redirectToDetailPage(item?.type)">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>