<footer class="footer-main">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-lg-3 col-xl-3 col-md-4 col-sm-4 col-12 mob-mb1">
              <img src="images/logo-white.png"/>
              <p class="p-12">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
              <p><i class="bi bi-geo-alt-fill me-2"></i> 121 King Street, Melbourne,Victoria 3000 Australia</p>
              <p><i class="bi bi-telephone-fill me-2"></i> <a href="tel:(+12) 3 3456 7890">(+12) 3 3456 7890</a></p>
              <p><i class="bi bi-envelope-fill me-2"></i> <a href="mailto:globalwindowsanddoor@gmail.com">globalwindowsanddoor@gmail.com</a></p>                    
              <ul class="Socialmedia-nav">
                  <li><a href="javascript:;"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="javascript:;"><i class="bi bi-youtube"></i></a></li>
                  <li><a href="javascript:;"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="javascript:;"><i class="bi bi-pinterest"></i></a></li>
                  <li><a href="javascript:;"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="javascript:;"><i class="bi bi-instagram"></i></a></li>
              </ul>
          </div>
          <div class="col-lg-5 col-xl-5 col-md-8 col-sm-8 col-12 mob-mb1">
              <div class="row">
                  <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 col-12 pt-4">
                      <h6 class="p-600">Useful Link</h6>
                      <ul class="nav-footer">
                          <li><a href="javascript:;">Home</a></li>
                          <li><a href="javascript:;">Door</a></li>
                          <li><a href="javascript:;">Window</a></li>
                          <li><a href="javascript:;">Other Product</a></li>
                          <li><a href="javascript:;">Contact</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 col-12 pt-4">
                      <h6 class="p-600">Product</h6>
                      <ul class="nav-footer">
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 col-12 pt-4">
                      <h6 class="p-600">Useful Link</h6>
                      <ul class="nav-footer">
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                          <li><a href="javascript:;">Lorem Ipsum</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-xl-3 col-md-4 col-sm-4 col-12 pt-4 mob-mb1">
              <h6 class="p-600">News Letter</h6>
              <p>Subscribe to our newsletter for daily updates, promotions, value and much more!</p>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter email address"/>
              </div>
              <button type="button" href="" class="btn btn-primary">Subscribe Us</button>
          </div>
      </div>
  </div>
  <div class="copy-right">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-6">
                  <p class="mb-0 p-12">© 2022 quickevolve. All right reserved</p>
              </div>
              <div class="col-6 desktop-right">
                  <p class="mb-0 p-12"><a href="javascript:;">Terms & Conditions</a> | <a href="javascript:;">Privacy Policy</a></p>
              </div>
          </div>
      </div>
  </div>
</footer>