<section class="section-accordian-card">
  <div class="container">
    <h4 style="text-align: center;"><strong>All Jobs</strong></h4><br>
    <div class="alert alert-warning" style="text-align: center; font-size: 19px  !important;" role="alert">
      <i class="bi bi-exclamation-triangle"></i><strong>⁠It is important for you read the <span
          style="color: #34b5b8 !important;">Read me </span>document for each job title before you take action.</strong>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th style="text-transform: none; text-align: center;">Job ID</th>
            <th style="text-transform: none; text-align: center;" scope="col">Job Title</th>
            <th style="text-transform: none; text-align: center;" scope="col">No. of Roles</th>
            <th style="text-transform: none; text-align: center;" scope="col">Publish Date</th>
            <th style="text-transform: none; text-align: center;" [width]="100" scope="col">Role Details</th>
            <th style="text-transform: none; text-align: center;" [width]="200" scope="col">Take Action</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td *ngIf="joblist.length == 0" class="text-center" colspan="10">
              No Record Found.
            </td>
          </tr>

          <tr
            *ngFor="let job of joblist  |  paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
            <td>{{job.job_id}}</td>
            <td>{{job.job_title}}</td>
            <td>{{job.no_of_roles}}</td>
            <td>{{job.publish_date | date:'dd/MM/yyyy'}}</td>
            <td>
              <a href="{{job?.upload?.url}}" target="_blank">
                Read me
              </a>
            </td>
            <td class="text-center">
              <ng-container *ngIf="job.status !== 'Under Review'; else emailMessage">
                <div *ngIf="!job.applied">
                  <label
                    [ngClass]="{'enabled-text': !(job.status === 'Actioned' || job.status === 'Expired' || job.status === 'Inactive'), 'disabled-text': job.status === 'Actioned' || job.status === 'Expired' || job.status === 'Inactive'}">
                    <input type="radio" name="choice{{ i }}" value="yes" (click)="openModal(job)"
                      [disabled]="job.status === 'Actioned' || job.status === 'Expired' || job.status === 'Inactive'" />
                    Yes
                  </label>
                  &nbsp;
                  <label
                    [ngClass]="{'enabled-text': !(job.status === 'Actioned' || job.status === 'Expired' || job.status === 'Inactive'), 'disabled-text': job.status === 'Actioned' || job.status === 'Expired' || job.status === 'Inactive'}">
                    <input type="radio" name="choice{{ i }}" value="no" (click)="noApplyjob(job)"
                      [disabled]="job.status === 'Actioned' || job.status === 'Expired' || job.status === 'Inactive'" />
                    No
                  </label>
                </div>
                <div *ngIf="job.applied == true">
                  <div class="row">
                    <div class="ml-auto mr-auto">
                      <button (click)="openCVModal(job)" type="submit" class="btn btn-primary btn-round"
                        [disabled]="job.status === 'Not Submitted'">Upload
                        CV</button>
                    </div>
                  </div>
                </div>
              </ng-container>


              <ng-template #emailMessage>
                <span> If you have got more CV's email to : (jamie.thompson@saivensolutions.co.uk)</span>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-3 align-items-center">
      <div class="row">
        <div class="pagination">
          <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template class="modal" #loginDetailModal id="loginDetailModal" tabindex="-1" aria-labelledby="ViewLogin"
  aria-hidden="true">
  <div class="">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewLogin">Upload Details</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="resourcesForm">

          <div class="row">
            <div class="row mt-3">
              <div class="col-md-4">
                <label>Choose CV option: <span style="color: red;"> *</span></label>
              </div>
              <div class="col-md-8">
                <div class="form-group d-flex align-items-center">

                  <label class="me-3">
                    <input type="radio" id="1" name="currentWork" value="existing-cv" formControlName="currentWork"
                      (change)="onSelectExistingCV()">&nbsp;
                    <span style="font-weight: normal;">USE EXISTING CV</span>
                  </label>

                  <label>
                    <input type="radio" id="2" name="currentWork" value="upload-cv" formControlName="currentWork"
                      (change)="onSelectExistingCV()">&nbsp;
                    <span style="font-weight: normal;">UPLOAD NEW CV</span>
                  </label>
                </div>

                <div *ngIf="selectedCV">
                  <h5>Existing CV Details</h5>
                  <p><strong>CV Name:</strong> {{selectedCV?.name}}</p>
                  <a [href]="selectedCV?.url" target="_blank" class="btn btn-info">Download CV</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3" style="float: right;">
            <div class="d-flex align-items-center justify-content-between">
              <button type="button" (click)="submitResources()"
                class="btn btn-primary w-50">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!-- <ng-template class="modal fade" #uploadcvModal id="uploadcvModal" tabindex="-1" aria-labelledby="ViewCv"
  aria-hidden="true">
  <div class="">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewCv">Upload CV</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <p class="text-bold text-center" style="color: #218838;">Upload all the CVs at once to Submit.</p>
      <p class="text-bold text-center" style="color: #218838;">Please reach out to jamie.thompson@saivensolutions.co.uk
        in case you face any issue with uploading the CVs.</p>
      <div class="modal-body">
        <form [formGroup]="resourcesForm">
          <table class="table table-bordered">
            <thead class="card-header">
              <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Upload CV <span style="color: red;">*</span></th>
                <th scope="col">Candidate Nationality <span style="color: red;">*</span></th>
                <th scope="col">Candidate Location <span style="color: red;">*</span></th>
              </tr>
            </thead>
            <tbody formArrayName="candidates">
              <tr *ngFor="let candidate of candidates.controls; let i = index" [formGroupName]="i">
                <td class="text-center">{{ i + 1 }}.</td>
                <td>
                  <input type="file" class="form-control" (change)="fileUpload($event, i); onChangeInput()" required>
                </td>
                <td>
                  <input type="text" placeholder="Enter nationality" class="form-control"
                    formControlName="candidate_nationality" (keypress)="onChangeInput()" />
                </td>
                <td>
                  <input type="text" placeholder="Enter job title" class="form-control"
                    formControlName="candidate_location" (keypress)="onChangeInput()" />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="col-3" style="float: right;">
            <div class="d-flex align-items-center justify-content-between">
              <button type="button" [disabled]="errorData" (click)="submitCV()" class="btn btn-primary w-50"
                [ngClass]="">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template> -->