<section class="section-card">
  <div class="container">
    <div class="row">
      <h4 class="text-center mb-4 text-bold"> Refer a Friend and Earn Rewards! </h4>
      <p class="text-center mb-4 text-bold">
        <br><br>
        Do you Know someone who would be a great fit for our opportunities? Enter their details below and we'll send
        them an invitation to join. Start earning (recurring) while they are working with Us.
        <br><br>
        Start referring and start earning!
      </p>
      <div class="col-4">
        <div class="FlatCard shadow border-radius6 p-0">
          <div class="card-header text-center">
            <h4>Your Referal Code</h4>
            <button type="button" class="btn btn-primary w-50" (click)="addSkills()">Add</button>
          </div>
          <div class="card-body text-center p-3">
            <h4>{{referredBy}}</h4>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="FlatCard shadow border-radius6 p-0">
          <div class="card-header text-center">
            <h4>Refer & Earn</h4>
          </div>
          <div class="card-body text-center p-3">
            <!-- <form [formGroup]="myForm"> -->
              <table class="table table-bordered">
                <thead class="card-header">
                  <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <form [formGroup]="skillsForm">
                    <ng-container formArrayName="skills">
                      <ng-container *ngFor="let skill of skills.controls; let i = index; trackBy: trackByFn">
                        <tr [formGroupName]="i">
                          <td><input type="text" formControlName="name" placeholder="Enter name" /></td>
                          <td><input type="email" formControlName="email" placeholder="Enter email" /></td>
                          <td><input type="text" formControlName="jobTitle" placeholder="Enter job title" /></td>
                          <td>
                            <button type="button" (click)="removeSkill(i)">Remove</button>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </form>

                </tbody>
              </table>
              <div class="col-6" style="float: right;">
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-secondary w-50" routerLink="/cir/cir-card">Back</button>
                  <button type="button" class="btn btn-primary w-50" (click)="submit()">Submit</button>
                </div>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
