<section class="section-card">
  <div class="container">
    <div class="row">
      <h4 class="text-center mb-4 text-bold"> Refer a Friend and Earn Rewards! </h4>
      <p class="text-center mb-4 text-bold">
        <br><br>
        Do you Know someone who would be a great fit for our opportunities? Enter their details below and we'll send
        them an invitation to join. Start earning (recurring) while they are working with Us.
        <br><br>
        Start referring and start earning!
      </p>
      <div class="col-4">
        <div class="FlatCard shadow border-radius6 p-0">
          <div class="card-header text-center">
            <h4>Your Referal Code</h4>
          </div>
          <div class="card-body text-center p-3">
            <h4>{{referredBy}}</h4>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="FlatCard shadow border-radius6 p-0">
          <div class="card-header text-center">
            <h4>Refer & Earn</h4>
          </div>
          <div class="card-body text-center p-3">
            <form>
              <table class="table table-bordered">
                <thead class="card-header">
                  <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Job Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td><input type="text" placeholder="Enter name" class="form-control"
                        formControlName="referForm.name" />
                      <span class="text-danger text-left d-flex justify-content-left" *ngIf="
                        referForm.controls?.['name']?.touched &&
                        referForm.controls?.['name']?.errors?.['required']">
                        Please enter name.
                      </span>
                    </td>
                    <td><input type="email" placeholder="Enter email id" class="form-control"
                        formControlName="referForm.email" />
                      <span class="text-danger text-left d-flex justify-content-left" *ngIf="
                        referForm.controls?.['email']?.touched &&
                        referForm.controls?.['email']?.errors?.['required']">
                        Please enter email.
                      </span>
                      <span class="text-danger text-left d-flex justify-content-left" *ngIf="
                        referForm.controls?.['email']?.touched &&
                        referForm.controls?.['email']?.errors?.['pattern']">
                        Please enter valid email.
                      </span>
                    </td>
                    <td><input type="text" placeholder="Enter job title" class="form-control"
                        formControlName="referForm.jobTitle" />
                      <span class="text-danger text-left d-flex justify-content-left" *ngIf="
                        referForm.controls?.['jobTitle']?.touched &&
                        referForm.controls?.['jobTitle']?.errors?.['required']">
                        Please enter job title.
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-6" style="float: right;">
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-secondary w-50" routerLink="/cir/cir-card">Back</button>
                  <button type="submit" class="btn btn-primary w-50">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>