<section>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered caption-top" style="width: 100%;">
        <caption>
          To fill by supplier (Refer Key - Notes sheet for information)
        </caption>
        <thead>
          <tr>
            <th>Roles in Demand</th>
            <th>Role description</th>
            <th>Certifications/Qualifications</th>
            <th>Value A (DDL)</th>
            <th>Value B (DDL)</th>
            <th>Value C</th>
            <th>Value D</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Quality Assurance Testing (QAT) Specialists</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Quality Assurance (QA) & DevOps</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Load & Performance Testing</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Quality Assurance (QA) & Testing</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Infrastructure Testing</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>6 Operational Acceptance Testing (OAT)</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Strategic Quality Assurance Consultant (Sr)</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Accessibility Quality Assurance (QA) and Testing</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Security Quality Assurance (QA) and Testing</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
          <tr>
            <td>Quality Assurance (QA) Capability Development</td>
            <td>Ref NI_Roles.PDF</td>
            <td>NONE Specified by Client</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>To fill by agency</td>
            <td>Supplier to attach 2 CVs as minimum</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>