<section class="section-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12 mb-4">
                <div class="FlatCard shadow border-radius6" routerLink="/cir/cir-accordian-card-details">                    
                    <div class="card-body text-center p-3">
                        <img src="../../../../assets/img/location.png" width="64" class="mb-3"/>
                        <p class="text-bold">Client location(s)</p>
                        <p>Manchester M13</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12 mb-4">
                <div class="FlatCard shadow border-radius6" routerLink="/cir/cir-accordian-card-details">                    
                    <div class="card-body text-center p-3">
                        <img src="../../../../assets/img/location.png" width="64" class="mb-3"/>
                        <p class="text-bold">Client location(s)</p>
                        <p>Manchester M13</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12 mb-4">
                <div class="FlatCard shadow border-radius6" routerLink="/cir/cir-accordian-card-details">                    
                    <div class="card-body text-center p-3">
                        <img src="../../../../assets/img/location.png" width="64" class="mb-3"/>
                        <p class="text-bold">Client location(s)</p>
                        <p>Manchester M13</p>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>
