<!--shrikant added new header-->
<header class="custom-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="javascript:;">
        <img src="../../../assets/img/Saivenlogo.png" alt="" width="180">
      </a>
      <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav" *ngIf="TokenData?.role == 'CIR'">

          <li class="nav-item">
            <a class="nav-link active" routerLink="/cir/cir-active-roles">
              Active Roles
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">

              <p>
                <span class="d-lg-none d-md-block">{{
                  loginUser?.name
                  }}</span>
              </p>
            </a>
          </li> -->

          <li class="nav-item" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink">
              {{ loginUser?.name }}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
              <a ngbDropdownItem routerLink="/cir/cir-profile">Profile</a>
              <a ngbDropdownItem href="javascript:void(0)" (click)="logout()"> LogOut</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="TokenData?.role != 'CIR'">

          <li class="nav-item">
            <a class="nav-link btn-magnify" routerLink="/cir/cir-create-job" style="float: right !important">
              <p>create Job</p>
            </a>
            <a class="nav-link btn-magnify" routerLink="/cir/create-future-card" style="float: right !important">
              <p>create card</p>
            </a>
          </li>

          <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
            <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink">
              <i class="nc-icon nc-settings-gear-65"></i>
              <p>
                <span class="d-lg-none d-md-block">Account</span>
              </p>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-end">
              <a ngbDropdownItem href="javascript:void(0)" (click)="logoutAdmin()">
                LogOut
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<nav aria-label="breadcrumb" class="gray-bg">
  <div class="container p-0">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a routerLink="/cir/cir-active-roles">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">All Jobs</li>
    </ol>
  </div>
</nav>

<!--shrikant colsed new header-->

<div class="wrapper">
  <div class="main-panel">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
