<div class="body-login">

  <div class="container d-flex justify-content-center align-items-center" style="height:100vh; overflow:hidden;">
    <div class="row d-flex align-items-center justify-content-center"
      style="overflow:hidden; width:100vw; height:100vh;">

      <div class="col-lg-4 col-xl-4 col-12 text-center">
        <img src="../../../../assets/img/Picture1.png" width="250" /><br>
        <h5>“Elevate Your Career with SaiVen: Join Public Sector IT Projects”</h5>
      </div>
      <div class="col-lg-4 col-xl-4 col-12">
        <div class="login-modal">
          <div class="login-body">
            <h4 class="mb-4"><strong>Forgot Password</strong></h4>

            <form class="needs-validation" [formGroup]="resetForm" (ngSubmit)="submit()">

              <div class="row">
                <div class="col-lg-12 colxl-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label>Password :</label>
                    <div class="input-group mb-0">
                      <input [type]="password" class="form-control" placeholder="Password" formControlName="password"
                        required>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span *ngIf="!showPassword" class="fas fa-eye" (click)="showHidePass('password')"></span>
                          <span *ngIf="showPassword" class="fas fa-eye-slash" (click)="showHidePass('password')"></span>
                        </div>
                      </div>
                    </div>
                    <!-- <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['password']?.touched &&
                      personalDetailForm.controls?.['password']?.errors?.['required']">
                      Please enter password.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['password']?.touched &&
                      personalDetailForm.controls?.['password']?.errors?.['pattern']">
                      Password must be at least 8 characters long, contain an uppercase letter, a number, and a special
                      character.
                    </span> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 colxl-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label>Confirm Password :
                    </label>
                    <div class="input-group mb-0">
                      <input [type]="confirmPassword" class="form-control" placeholder="Confirm Password"
                        formControlName="confirmPassword">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span *ngIf="!confirmShowPassword" class="fas fa-eye"
                            (click)="showHidePass('confirmPassword')"></span>
                          <span *ngIf="confirmShowPassword" class="fas fa-eye-slash"
                            (click)="showHidePass('confirmPassword')"></span>
                        </div>
                      </div>
                    </div>
                    <!-- <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['password']?.touched &&
                      personalDetailForm.controls?.['password']?.errors?.['required']">
                      Please enter password.
                    </span>
                    <span class="text-danger" *ngIf="
                      personalDetailForm.controls?.['password']?.touched &&
                      personalDetailForm.controls?.['password']?.errors?.['pattern']">
                      Password must be at least 8 characters long, contain an uppercase letter, a number, and a special
                      character.
                    </span> -->
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-login w-100">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>