<section>
    <div style="margin: 30px;">
        <div class="table-responsive">
          <div class="caption" style="width: 100%;">
              To fill by supplier (Refer Key - Notes sheet for information)
          </div>
          <table class="table table-bordered caption-top" style="width: 100%;">
              <thead>
                    <tr>
                        <th>Roles in Demand</th>
                        <th>Role description</th>
                        <th>Certifications/Qualifications</th>
                        <th>Relevant Experience</th>
                        <th>Work Location</th>
                        <th>Expected Rate</th>
                        <th>File</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of manchesterData">
                      <tr>
                        <td>{{ item?.roleInDemand }}</td>
                        <td>{{ item?.roleDescription }}</td>
                        <td>{{ item?.qualification }}</td>
                        <td>
                          <input type="text" class="form-control" placeholder="Relevant Experience" [(ngModel)]="item.relevantExperience" required>
                        </td>
                        <td>
                          <input type="text" class="form-control" placeholder="Work Location" [(ngModel)]="item.workLocation" required>
                        </td>
                        <td>
                          <input type="text" class="form-control" placeholder="Expected Rate" [(ngModel)]="item.expectedRate" required>
                        </td>
                        <td>
                          <input type="file" class="form-control" height="50px" width="100px" (change)="fileUpload($event, item)">
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-block" (click)="submitDetails(item)">Send</button>
                        </td>
                      </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</section>