<section>
  <div class="container">
      <div class="table-responsive">
          <table class="table table-bordered caption-top" style="width: 100%;">
              <caption>
                  To fill by supplier (Refer Key - Notes sheet for information)
              </caption>
              <thead>
                  <tr>
                      <th>Roles in Demand</th>
                      <th>Role description</th>
                      <th>Certifications/Qualifications</th>
                      <th>Value A (DDL)</th>
                      <th>Value B (DDL)</th>
                      <th>Value C</th>
                      <th>Value D</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Functional Test Analyst</td>
                      <td>“Specifications not available on this day"</td>
                      <td>"ITSQB Foundation Certification JIRA
                          Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                      <td>Please select a value</td>
                      <td>Manchester Only</td>
                      <td>Type your demand day rate here</td>
                      <td>Attach your CV by email & Type the CV name here</td>
                  </tr>
                  <tr>
                      <td>Functional Test Analyst</td>
                      <td>“Specifications not available on this day"</td>
                      <td>"ITSQB Foundation Certification JIRA
                          Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                      <td>Please select a value</td>
                      <td>Manchester Only</td>
                      <td>Type your demand day rate here</td>
                      <td>Attach your CV by email & Type the CV name here</td>
                  </tr>
                  <tr>
                      <td>Functional Test Analyst</td>
                      <td>“Specifications not available on this day"</td>
                      <td>"ITSQB Foundation Certification JIRA
                          Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                      <td>Please select a value</td>
                      <td>Manchester Only</td>
                      <td>Type your demand day rate here</td>
                      <td>Attach your CV by email & Type the CV name here</td>
                  </tr>
                  <tr>
                      <td>Functional Test Analyst</td>
                      <td>“Specifications not available on this day"</td>
                      <td>"ITSQB Foundation Certification JIRA
                          Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                      <td>Please select a value</td>
                      <td>Manchester Only</td>
                      <td>Type your demand day rate here</td>
                      <td>Attach your CV by email & Type the CV name here</td>
                  </tr>
                  <tr>
                      <td>Functional Test Analyst</td>
                      <td>“Specifications not available on this day"</td>
                      <td>"ITSQB Foundation Certification JIRA
                          Tooling such as: Selenium, Postman, TestLink, SauceLabs, Quality Centre, BrowserStack"</td>
                      <td>Please select a value</td>
                      <td>Manchester Only</td>
                      <td>Type your demand day rate here</td>
                      <td>Attach your CV by email & Type the CV name here</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</section>