.section-card{
  padding: 40px 0;
  background-image: url("../../../../assets/img/registraion-page-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}
p{
  margin-bottom: 0px;
}
strong{
  font-weight: 600;
}

.FlatCard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.border-radius6 {
  border-radius: 6px;

}
.FlatCard .card-body {
  padding: 1rem;
}
.FlatCard .card-header{
  background-color: #007f83;
  padding: 1rem;
  color: #FFF;
  border-radius: 6px 6px 0 0;
}

.text-bold {
  font-size: 18px;
  font-weight: bolder;
}

.w-10 {
  width: 10%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}
/* Style for checkboxes */
input[type="checkbox"] {
  position: relative;
  margin-right: 10px;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid black;
  background-color: white;
}

input[type="checkbox"]:checked::after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  font-size: 14px;
  color: black;
}
/* Override ngbTooltip styles */
::ng-deep .tooltip.show {
  display: block;
  opacity: 1;
}

/* Override ngbTooltip styles */
::ng-deep .tooltip-inner {
  text-align: left !important; /* Aligns text to the left */
  background-color: white !important;
  color: black !important;
  width: 100% !important;
  max-width: 80%; /* Adjust this based on your tooltip size */
  padding: 10px !important;
  white-space: pre-line; /* Preserves line breaks and spacing */
  font-size: 18px;
  font-weight: bold;
}

::ng-deep .tooltip-arrow::before {
  border-top-color: white !important;
}