<section class="section-card">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 mb-4">
              <div class="FlatCard shadow border-radius6">
                  <div class="card-header text-center">
                    <h4>Manchester</h4>
                  </div>
                  <div class="card-body text-center p-3">
                      <table class="table">
                        <thead class="text-primary">
                          <th> </th>
                          <th>Field</th>
                          <th>Description</th>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let item of manchesterDetails">
                            <tr>
                              <td>
                                <input type="checkbox">
                              </td>
                              <td>{{ item?.field }}</td>
                              <td>{{ item?.description }}</td>
                            </tr>
                          </ng-container>
                          <tr>
                            <td colspan="3" style="text-align: end;">
                              <button type="button" class="btn btn-primary btn-login">Submit</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
